{% extends 'myapp/base.html' %}


{% block content %}

    <br>

    {% load crispy_forms_tags%}

    <form action="" method="POST" class="m-5 w-6 bg-primary" id="form">

        {% csrf_token %}

        <h2 class="text-success my-3"> Login Now </h2>

        <div>
            <label  for="" class="text-dark ">User Name</label>
            <div class="">
                {{form.username}}
            </div>
        </div>
        <div>
            <label for="" class="text-dark ">Enter Password</label>
            <div class="">
                {{form.password}}
            </div>
        </div>
    
       
    
        <button type="submit" class="btn btn-success">
            Login
        </button>
    
    
    </form>

{% endblock content %}
